.menu-box{
  text-align: center;
  display: flex;
  justify-content: center;
  background: 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  .menu{
    display: flex;
    height: 80px;
    line-height: 80px;
    justify-content: center;
    align-items: center;
    .menu-link{
      font-size: 22px;
      margin: 0 40px;
      a{
        color: #ffffff !important;}
    }
  }
}